<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

        <iframe id="drive-viewer-video-player-object-0" src="https://drive.google.com/file/d/142PeKW9WcoHp2oramGn3ZGNDGgf_s9Nu/preview" frameborder="0" width="auto" height="auto" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" title="Trình phát video"></iframe>
    
</body>
</html>