  .container {
    max-width: 800px;
    text-align: center;
    min-height: 100px;
  }
  .wrapper {
    max-width: 800px;
    margin: 0 auto;
  }
  html, button, input, select, textarea,
  .pure-g [class *= "pure-u"] {
      font-family: monospace;
      font-size: 20px;
  }

  .green {
    color: #88B04B;
  }
/*  #eps{
    text-decoration: none;
    color: black
  }*/
.pure-img {
    max-width: 60%;
    margin-left: 20%
}
.search-results {
  text-align: left;
  margin-left: 20%
}
